In [1]:
import pandas as pd
import hvplot

In [4]:
df=pd.read_csv('db/data.csv')
df.drop(columns='Unnamed: 0' ,axis=1,inplace=True)
df.head(5)

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02598  2015-01-22 03:03:44              B02764         170
1               B02682  2015-06-15 04:28:00              B02682          82
2               B02764  2015-02-13 17:11:01              B02764         211
3               B02598  2015-03-15 21:50:00              B02598         124
4               B02764  2015-03-09 02:34:00              B02764          40

In [6]:
df.shape

(142705, 4)

In [8]:
df.dtypes

Dispatching_base_num    object
Pickup_date             object
Affiliated_base_num     object
locationID               int64
dtype: object

In [11]:
df['Pickup_date']= pd.to_datetime(df['Pickup_date'],format='%Y-%m-%d %H:%M:%S')
df.dtypes

Dispatching_base_num            object
Pickup_date             datetime64[ns]
Affiliated_base_num             object
locationID                       int64
dtype: object